{
  "parser": "babel-eslint",
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb"
  ],
  "plugins": [
    "flowtype"
  ],
  "globals": {
    "document": true,
    "window": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "afterEach": true,
    "expect": true,
    "require": true,
    "jest": true
  },
  "rules": {
    "no-trailing-spaces": ["error", { "skipBlankLines": true }]
  }
}
